<footer class="footer bg-primary text-white pt-6">
  <div class="container pt-md-3 pb-md-3">
    <nav class="navbar mb-3">
      <ul class="footer-list navbar-nav text-white">
        <li class="footer-item">
          <a class="nav-link py-12 pr-3 pl-0" href="./index.html">首頁</a>
        </li>
        <li class="footer-item">
          <a class="nav-link py-12 pl-3 pr-3" href="#">系列鏡框</a>
        </li>
        <li class="footer-item">
          <a class="nav-link py-12 pl-3 pr-3" href="#">門市據點</a>
        </li>
        <li class="footer-item">
          <a class="nav-link py-12 pl-3 pr-3" href="#">部落格</a>
        </li>
        <li class="footer-item">
          <a class="nav-link py-12 pl-3 pr-0" href="#">常見問題</a>
        </li>
      </ul>
      <ul class="social-list navbar-nav">
        <li class="social-item mr-4 mr-md-1">
          <a class="-link" href="#"
            ><img src="../assets/images/ic-social-fb.png" alt="fb"
          /></a>
        </li>
        <li class="social-item mr-4 mr-md-1">
          <a class="-link" href="#"
            ><img src="../assets/images/ic_social_ig.png" alt="ig"
          /></a>
        </li>
        <li class="social-item">
          <a class="-link" href="#"
            ><img src="../assets/images/ic_social_line.png" alt="line"
          /></a>
        </li>
      </ul>
    </nav>

    <div class="contact mb-4 mb-md-3 fz-8">
      <ul>
        <li class="d-flex align-center mb-1">
          <span class="material-icons-outlined fz-12 mr-2"> phone </span
          ><a href="tel:0800-000-000">0800-000-000</a>
        </li>
        <li class="d-flex align-center">
          <span class="material-icons-outlined fz-12 mr-2"> email </span
          ><a href="mailto:glasses@business.com">glasses@business.com</a>
        </li>
      </ul>
    </div>

    <div class="copyright navbar pt-4 pb-4 pb-lg-5">
      <p class="copyright-content">
        Copyright © 2020 Glasses.All rights reserved.
      </p>
      <ul class="copyright-list navbar-nav">
        <li class="copyright-item mr-6"><a href="#">隱私權政策</a></li>
        <li class="copyright-item"><a href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
