<header class="header">
  <nav class="navbar-primary">
    <div class="container w-100 flex-wrap p-md-0">
      <h1 class="navbar-brand">
        <a class="header-img" href="./index.html">
          <img
            src="../assets/images/logo-white.png"
            alt="logo"
            class="header-logo"
          />
        </a>
      </h1>

      <ul class="navbar-nav flex-wrap fz-5 text-white">
        <li class="nav-item">
          <a class="py-25 pr-4" href="./glassframe.html">系列鏡框</a>
        </li>
        <li class="nav-item">
          <a class="py-25 pl-4 pr-4" href="./location.html">門市據點</a>
        </li>
        <li class="nav-item">
          <a class="py-25 pl-4 pr-4" href="./blog.html">部落格</a>
        </li>
        <li class="nav-item">
          <a class="py-25 pl-4" href="./qa.html">常見問題</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
