<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框 | 眼鏡官網</title>
  </head>
  <body>
    <%- include("./layout/header") -%>

    <nav class="container">
      <ul class="tab row fz-8 fw-medium text-center">
        <li class="tab-item tab-item--current col-4">
          <a class="pt-3 pb-3 pt-lg-2 pb-lg-2" href="#">OPTICAL</a>
        </li>
        <li class="tab-item col-4">
          <a class="pt-3 pb-3 pt-lg-2 pb-lg-2" href="#">SUNGLASSES</a>
        </li>
        <li class="tab-item col-4">
          <a class="pt-3 pb-3 pt-lg-2 pb-lg-2" href="#">FUNCTIONAL</a>
        </li>
      </ul>
    </nav>

    <section class="tab-content">
      <div class="products">
        <div class="optical tab-open">
          <div class="product-header row mb-10 mb-md-5">
            <div class="col-6">
              <picture class="product-header-imgBox">
                <source
                  srcset="../assets/images/product-header-sm-1.png"
                  media="(max-width: 992px)"
                />
                <img
                  class="product-header-img"
                  src="../assets/images/product-header-1.png"
                  alt="product picture"
                />
              </picture>
            </div>
            <div class="col-6">
              <picture class="product-header-imgBox">
                <source
                  srcset="../assets/images/product-header-sm-2.png"
                  media="(max-width: 992px)"
                />
                <img
                  class="product-header-img"
                  src="../assets/images/product-header-2.png"
                  alt="product picture"
                />
              </picture>
            </div>
          </div>
          <div class="container">
            <h2 class="product-title text-center fw-medium">Celluloid Combi</h2>
            <h3 class="product-subtitle fz-8 text-center mb-4 mb-md-3">
              賽璐珞鈦金屬混合鏡框
            </h3>
            <ul class="product-list row gap-1 fz-6">
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-1.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-2.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-3.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-4.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-5.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-6.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-1.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-2.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-3.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-4.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-5.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-3 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-6.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="sunglasses tab-close">
          <div class="product-header row mb-10 mb-md-5">
            <div class="col-6">
              <picture class="product-header-imgBox">
                <source
                  srcset="../assets/images/product-header-sm-3.png"
                  media="(max-width: 992px)"
                />
                <img
                  class="product-header-img"
                  src="../assets/images/product-header-3.png"
                  alt="product picture"
                />
              </picture>
            </div>
            <div class="col-6">
              <picture class="product-header-imgBox">
                <source
                  srcset="../assets/images/product-header-sm-4.png"
                  media="(max-width: 992px)"
                />
                <img
                  class="product-header-img"
                  src="../assets/images/product-header-4.png"
                  alt="product picture"
                />
              </picture>
            </div>
          </div>
          <div class="container">
            <h2 class="product-title text-center fw-medium">
              2020 NEW COLLECTION
            </h2>
            <h3 class="product-subtitle fz-8 text-center mb-4 mb-md-3">
              賽璐珞鈦金屬混合鏡框
            </h3>
            <ul class="product-list row gap-1 fz-6">
              <li
                class="product-item col-4 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-7.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-4 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-8.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-4 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-9.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-4 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-10.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-4 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-11.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
              <li
                class="product-item col-4 col-lg-6 col-md-12 mb-10 mb-lg-5 mb-md-3"
              >
                <img
                  src="../assets/images/product-12.png"
                  alt="product picture"
                  class="product-img w-100"
                />
                <div class="product-info d-flex justify-space-between">
                  <span class="product-number">BJ41600S</span>
                  <span class="product-price text-primary fw-medium"
                    >NTD3,490</span
                  >
                </div>
                <div class="product-colors d-flex">
                  <div class="product-color product-color-1 mr-1"></div>
                  <div class="product-color product-color-2"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="functional tab-close"></div>
      </div>
    </section>

    <div class="pager container d-flex pt-10 pb-10 pt-md-8 pb-md-8">
      <ul class="pagination d-flex mx-auto justify-center">
        <li class="page-item"><a href="#" class="page-link">上一頁</a></li>
        <li class="page-item">
          <a href="#" class="page-link">1</a>
        </li>
        <li class="page-item page-item--current">
          <a href="#" class="page-link">2</a>
        </li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">下一頁</a></li>
      </ul>
    </div>

    <%- include("./layout/footer") -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".tab-item").on("click", function (e) {
          const tab = this;

          $(".tab-item").each(function (index, el) {
            if (el == tab) {
              $(el).addClass("tab-item--current");
            } else {
              $(el).removeClass("tab-item--current");
            }
          });

          $(".products")
            .children()
            .each(function (index, el) {
              if ($(el).hasClass(e.target.textContent.toLowerCase())) {
                $(el).addClass("tab-open");
                $(el).removeClass("tab-close");
              } else {
                $(el).addClass("tab-close");
                $(el).removeClass("tab-open");
              }
            });
        });
      });
    </script>
  </body>
</html>
