<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
  </head>
  <body>
    <%- include("./layout/header") -%>

    <div class="hero">
      <div
        class="container hero-text d-flex flex-column justify-center align-flex-end"
      >
        <h3 class="hero-subtitle text-primary-dark fz-9">
          Promise-Desert 2020 早春系列
        </h3>
        <h1 class="hero-title text-primary-dark fz-16 fw-bold mb-sm">
          看得清，才能看得遠
        </h1>
        <a href="#" class="hero-btn bg-primary text-white fz-5 fw-medium"
          >立即購買</a
        >
      </div>
    </div>

    <main>
      <section
        class="feature bg-primary-light-2 pt-10 pb-10 pb-lg-7 pt-md-5 pb-md-2"
      >
        <div class="container">
          <h2
            class="feature-title text-primary-dark text-center fz-12 fw-bold mb-3"
          >
            用專業的心，做專業的事
          </h2>

          <ul class="feature-list row gap-1">
            <li class="feature-item col-3 col-lg-6 col-md-12 mb-lg-3">
              <img
                class="feature-img mx-auto mb-2"
                src="../assets/images/home-section2-1.png"
                alt="feature picture"
              />
              <h4 class="fz-6 fw-bold text-primary-dark text-center mb-1">
                單一價格
              </h4>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li class="feature-item col-3 col-lg-6 col-md-12 mb-lg-3">
              <img
                class="feature-img mx-auto mb-2"
                src="../assets/images/home-section2-2.png"
                alt="feature picture"
              />
              <h4 class="fz-6 fw-bold text-primary-dark text-center mb-1">
                20 分鐘即可取件
              </h4>
              <p>
                為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                20 分鐘即可完成。
              </p>
            </li>
            <li class="feature-item col-3 col-lg-6 col-md-12 mb-lg-3">
              <img
                class="feature-img mx-auto mb-2"
                src="../assets/images/home-section2-3.png"
                alt="feature picture"
              />
              <h4 class="fz-6 fw-bold text-primary-dark text-center mb-1">
                安心售後服務
              </h4>
              <p>
                我們提供長達 120
                天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
              </p>
            </li>
            <li class="feature-item col-3 col-lg-6 col-md-12 mb-lg-3">
              <img
                class="feature-img mx-auto mb-2"
                src="../assets/images/home-section2-4.png"
                alt="feature picture"
              />
              <h4 class="fz-6 fw-bold text-primary-dark text-center mb-1">
                關於鏡片
              </h4>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="classic container pt-10 pb-10 pt-md-5 pb-md-5">
        <h2
          class="classic-title text-primary-dark fz-12 fw-bold text-center mb-6"
        >
          經典系列鏡框
        </h2>
        <ul class="classic-list row gap-1">
          <li class="classic-item col-4 col-lg-6 col-md-12 mb-lg-3">
            <img
              class="classic-img mb-1"
              src="../assets/images/home-section3-1.png"
              alt="classic picture"
            />
            <h2
              class="classic-subtitle text-primary fz-12 fw-bold text-center text-italic"
            >
              OPTICAL
            </h2>
          </li>
          <li class="classic-item col-4 col-lg-6 col-md-12 mb-lg-3">
            <img
              class="classic-img mb-1"
              src="../assets/images/home-section3-2.png"
              alt="classic picture"
            />
            <h2
              class="classic-subtitle text-primary fz-12 fw-bold text-center text-italic"
            >
              SUNGLASSES
            </h2>
          </li>
          <li class="classic-item col-4 col-lg-6 col-md-12 mb-lg-3">
            <img
              class="classic-img mb-1"
              src="../assets/images/home-section3-3.png"
              alt="classic picture"
            />
            <h2
              class="classic-subtitle text-primary fz-12 fw-bold text-center text-italic"
            >
              FUNCTIONAL
            </h2>
          </li>
        </ul>
      </section>
      <section class="design pt-10 pb-10 pt-md-5 pb-md-5">
        <div class="container">
          <h2
            class="design-title text-white fz-12 fw-bold text-center mb-6 mb-md-3"
          >
            聯名設計鏡框
          </h2>
          <ul class="design-list row">
            <li class="design-item col-6 col-lg-12 mb-lg-3">
              <picture>
                <source
                  srcset="../assets/images/home-section4-1-sm.png"
                  media="(max-width: 768px)"
                />
                <img
                  src="../assets/images/home-section4-1.png"
                  alt="design picture"
                  class="design-img"
                />
              </picture>
              <h2
                class="design-subtitle bg-white text-primary fz-12 fw-bold text-italic text-center pt-1 pb-1"
              >
                DOUBLE A+
              </h2>
            </li>
            <li class="design-item col-6 col-lg-12 mb-lg-3">
              <picture>
                <source
                  srcset="../assets/images/home-section4-2-sm.png"
                  media="(max-width: 768px)"
                />
                <img
                  src="../assets/images/home-section4-2.png"
                  alt="design picture"
                  class="design-img"
                />
              </picture>
              <h2
                class="design-subtitle bg-white text-primary fz-12 fw-bold text-italic text-center pt-1 pb-1"
              >
                YOUTH
              </h2>
            </li>
          </ul>
        </div>
      </section>
      <section class="recommend container pt-10 pb-10 pt-md-5 pb-md-5">
        <h2
          class="recommend-title text-primary-dark fz-12 fw-bold text-center mb-6 mb-md-3"
        >
          顧客推薦
        </h2>
        <ul class="recommend-list row mb-md-0">
          <li class="recommend-item d-flex flex-column mb-lg-3 mb-md-2">
            <img
              src="../assets/images/home-section5-1.png"
              alt="recommend picture"
            />
            <div class="recommend-text d-flex flex-column flex-grow-1 p-2">
              <h6 class="recommend-subtitle fw-medium mb-1">Jessy</h6>
              <p class="mb-auto">眼鏡品質優良，下次還會想來這邊購買！</p>
              <time
                datetime="2021-06-20"
                class="year text-grey-dark-5 fz-extra-14"
                >2021/06/20</time
              >
            </div>
          </li>
          <li class="recommend-item d-flex flex-column mb-lg-3 mb-md-2">
            <img
              src="../assets/images/home-section5-2.png"
              alt="recommend picture"
            />
            <div class="recommend-text d-flex flex-column flex-grow-1 p-2">
              <h6 class="recommend-subtitle fw-medium mb-1">凱倫</h6>
              <p class="mb-auto">
                做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
              </p>
              <time
                datetime="2021-04-18"
                class="year text-grey-dark-5 fz-extra-14"
                >2021/04/18</time
              >
            </div>
          </li>
          <li class="recommend-item d-flex flex-column mb-lg-3 mb-md-2">
            <img
              src="../assets/images/home-section5-3.png"
              alt="recommend picture"
            />
            <div class="recommend-text d-flex flex-column flex-grow-1 p-2">
              <h6 class="recommend-subtitle fw-medium mb-1">悠悠</h6>
              <p class="mb-auto">
                謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
              </p>
              <time
                datetime="2020-12-25"
                class="year text-grey-dark-5 fz-extra-14"
                >2020/12/25</time
              >
            </div>
          </li>
          <li class="recommend-item d-flex flex-column mb-lg-3 mb-md-2">
            <img
              src="../assets/images/home-section5-4.png"
              alt="recommend picture"
            />
            <div class="recommend-text d-flex flex-column flex-grow-1 p-2">
              <h6 class="recommend-subtitle fw-medium mb-1">Kyuan</h6>
              <p class="mb-auto">服務很好，品質沒有任何問題，非常喜歡。</p>
              <time
                datetime="2020-10-31"
                class="year text-grey-dark-5 fz-extra-14"
                >2020/10/31</time
              >
            </div>
          </li>
        </ul>
      </section>
      <section class="contactMe bg-primary-light-2 pt-10 pb-10 pt-md-5 pb-md-5">
        <div class="container row justify-center">
          <div class="contactMe-block col-6 col-lg-10 col-md-12">
            <h2
              class="contactMe-title text-primary-dark fz-12 fw-bold text-center mb-6 mb-lg-3"
            >
              聯絡我們
            </h2>
            <p class="contactMe-text fz-5 mb-3">
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <form class="contactMe-form">
              <ul class="contactMe-list">
                <li class="contactMe-item mb-2">
                  <label class="d-block mb-1" for="name">姓名</label>
                  <input
                    class="w-100"
                    type="text"
                    id="name"
                    name="name"
                    placeholder="陳小明"
                  />
                </li>
                <li class="contactMe-item mb-2">
                  <label class="d-block mb-1" for="tel">聯絡電話</label>
                  <input
                    class="w-100"
                    type="tel"
                    id="tel"
                    name="tel"
                    placeholder="0912-345-678"
                  />
                </li>
                <li class="contactMe-item mb-2">
                  <label class="d-block mb-1" for="email">電子郵件</label>
                  <input
                    class="w-100"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="example@email.com"
                  />
                </li>
                <li class="contactMe-item mb-2">
                  <label class="d-block mb-1" for="feedback">意見反應</label>
                  <textarea
                    class="w-100"
                    name="feedback"
                    id="feedback"
                    cols="30"
                    rows="10"
                    placeholder="請輸入您的意見"
                  ></textarea>
                </li>
                <li class="contactMe-item d-flex align-flex-start mb-6 mb-md-3">
                  <input type="checkbox" id="privacy" value="true" />
                  <label for="privacy"
                    >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
                  >
                </li>
              </ul>
              <div class="row justify-center">
                <div class="col-4 col-lg-6 col-md-12">
                  <input
                    class="contactMe-form-submit w-100 bg-primary-dark fw-bold text-white pt-2 pb-2"
                    type="submit"
                    value="確認送出"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    <%- include("./layout/footer") -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
