<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>門市據點 | 眼鏡官網</title>
  </head>
  <body>
    <%- include("./layout/header") -%>

    <div class="container pt-12 pb-4 pt-lg-10 pb-lg-7 pt-md-5 pb-md-5">
      <section class="dropdown-selection mb-5">
        <!-- <h2 class="dropdown-selection-title fz-12 fw-bold pl-2 mb-4 mb-md-3">
          門市據點
        </h2> -->
        <h2 class="main-heading">門市據點</h2>

        <form class="d-flex align-center">
          <label
            class="dropdown-selection-subtitle fz-6 mr-2 mr-md-1"
            for="city"
            >選擇地區</label
          >
          <select class="dropdown-selection-list" name="city" id="city">
            <option value="null">請選擇</option>
            <option value="台北市" selected>台北市</option>
            <option value="台中市">台中市</option>
            <option value="高雄市">高雄市</option>
          </select>
        </form>
      </section>

      <section class="location">
        <ul class="location-list row gap-1">
          <li class="location-item col-4 col-lg-6 col-md-12 mb-6 mb-lg-3">
            <img
              class="store-img"
              src="../assets/images/store-1.png"
              alt="location picture"
            />
            <div class="store-text text-grey-dark-2">
              <h3 class="store-title fz-6 pl-3 pt-1 pb-1">台北中山旗艦店</h3>
              <ul class="store-list fz-5 pl-3 pr-3 pt-2 pb-2">
                <li class="store-item d-flex align-flex-start mb-1">
                  <span class="material-icons-outlined mr-1"> phone </span
                  ><a href="tel:+886020001234">電話：(02)000-1234</a>
                </li>
                <li class="store-item d-flex align-flex-start mb-1">
                  <span class="material-icons-outlined mr-1"> schedule </span
                  ><time>營業時間：10:00-21:00</time>
                </li>
                <li class="store-item d-flex align-flex-start">
                  <span class="material-icons-outlined mr-1"> place </span
                  >地址：台北市中山區南京東路25巷2-1號
                </li>
              </ul>
            </div>
            <a href="./location-detail.html" class="btn btn-store">詳細資訊</a>
          </li>
          <li class="location-item col-4 col-lg-6 col-md-12 mb-6 mb-lg-3">
            <img
              class="store-img"
              src="../assets/images/store-2.png"
              alt="location picture"
            />
            <div class="store-text text-grey-dark-2">
              <h3 class="store-title fz-6 pl-3 pt-1 pb-1">台北綠園店</h3>
              <ul class="store-list fz-5 pl-3 pr-3 pt-2 pb-2">
                <li class="store-item d-flex align-flex-start mb-1">
                  <span class="material-icons-outlined mr-1"> phone </span
                  ><a href="tel:+886020002345">電話：(02)000-2345</a>
                </li>
                <li class="store-item d-flex align-flex-start mb-1">
                  <span class="material-icons-outlined mr-1"> schedule </span
                  ><time>營業時間：10:00-21:00</time>
                </li>
                <li class="store-item d-flex align-flex-start">
                  <span class="material-icons-outlined mr-1"> place </span
                  >地址：台北市中正區復興南路132-1號
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn-store">詳細資訊</a>
          </li>
          <li class="location-item col-4 col-lg-6 col-md-12 mb-6 mb-lg-3">
            <img
              class="store-img"
              src="../assets/images/store-3.png"
              alt="location picture"
            />
            <div class="store-text text-grey-dark-2">
              <h3 class="store-title fz-6 pl-3 pt-1 pb-1">台中清水旗艦店</h3>
              <ul class="store-list fz-5 pl-3 pr-3 pt-2 pb-2">
                <li class="store-item d-flex align-flex-start mb-1">
                  <span class="material-icons-outlined mr-1"> phone </span
                  ><a href="tel:+886020001234">電話：(02)000-1234</a>
                </li>
                <li class="store-item d-flex align-flex-start mb-1">
                  <span class="material-icons-outlined mr-1"> schedule </span
                  ><time>營業時間：10:00-21:00</time>
                </li>
                <li class="store-item d-flex align-flex-start">
                  <span class="material-icons-outlined mr-1"> place </span
                  >地址：台中市清水區經南一路23號8樓
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn-store">詳細資訊</a>
          </li>
          <li class="location-item col-4 col-lg-6 col-md-12 mb-6 mb-lg-3">
            <img
              class="store-img"
              src="../assets/images/store-4.png"
              alt="location picture"
            />
            <div class="store-text text-grey-dark-2">
              <h3 class="store-title fz-6 pl-3 pt-1 pb-1">高雄中正形象店</h3>
              <ul class="store-list fz-5 pl-3 pr-3 pt-2 pb-2">
                <li class="store-item d-flex align-flex-start mb-1">
                  <span class="material-icons-outlined mr-1"> phone </span
                  ><a href="tel:+886020002345">電話：(02)000-2345</a>
                </li>
                <li class="store-item d-flex align-flex-start mb-1">
                  <span class="material-icons-outlined mr-1"> schedule </span
                  ><time>營業時間：10:00-21:00</time>
                </li>
                <li class="store-item d-flex align-flex-start">
                  <span class="material-icons-outlined mr-1"> place </span
                  >地址：高雄市苓雅區中正路38號12樓
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn-store">詳細資訊</a>
          </li>
          <li class="location-item col-4 col-lg-6 col-md-12 mb-6 mb-lg-3">
            <img
              class="store-img"
              src="../assets/images/store-1.png"
              alt="location picture"
            />
            <div class="store-text text-grey-dark-2">
              <h3 class="store-title fz-6 pl-3 pt-1 pb-1">高雄夢時代店</h3>
              <ul class="store-list fz-5 pl-3 pr-3 pt-2 pb-2">
                <li class="store-item d-flex align-flex-start mb-1">
                  <span class="material-icons-outlined mr-1"> phone </span
                  ><a href="tel:+886020001234">電話：(02)000-1234</a>
                </li>
                <li class="store-item d-flex align-flex-start mb-1">
                  <span class="material-icons-outlined mr-1"> schedule </span
                  ><time>營業時間：10:00-21:00</time>
                </li>
                <li class="store-item d-flex align-flex-start">
                  <span class="material-icons-outlined mr-1"> place </span
                  >地址：高雄市前鎮區中華一路63號6樓
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn-store">詳細資訊</a>
          </li>
        </ul>
      </section>
    </div>

    <%- include("./layout/footer") -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
